* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-other {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

header {
    background: white;
    padding-top: 50px;
}

nav {
    width: 1140px;
    max-width: 71%;
    margin: 0 auto;
    /* border: 3px solid#10d16a; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 139px;
    height: 60px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;


}

.btn {
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.btn1 {
    display: flex;
    align-items: center;
}

#banner {
    margin: 0 auto;
    background: url("../Assets/hero-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    width: 1600px;
    height: 674px;
}

#banner .banner-content {
    vertical-align: middle;
    text-align: center;
}

#banner .banner-content p {
    font-size: 18px;
    color: #FFFFFF;
    gap: 6px;
    margin-bottom: 16px;
    font-weight: 400;

}

#banner .banner-content ul li {
    padding: 8px 12px;
    text-align: center;
    background: #FFFFFF;
    align-items: center;
    border-radius: 16px;
}

#banner .banner-content h1 {
    font-size: 72px;
    color: #FFFFFF;
    gap: 6px;
    margin-bottom: 16px;

}



.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;

}

.section-heading h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575
}



#skills,
#knowledge,
#Acces {
    background: #ffffff;

}


#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}



.skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000011;
    max-width: 267px;

}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
    background: #dc4343;
    text-align: center;

}



.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
    text-align: center;
}

.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    text-align: center;

}

#knowledge .knowledge-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.knowledge-container p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    text-align: left;
}

.knowledge-container ul {
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    padding-top: 40px;
}

#Acces .Acces-container {
    background: #f7f5f2;
}


footer {
    margin-top: 130px;
    background-color: #001931;
    padding: 130px 0;
}

#footer .footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container .social h3 {
    color: #FFFFFF;
}

.footer-container .icons a {
    margin-right: 24px;
    background: red;
}

#footer .copyright {

    font-size: 16px;
    color: #FAFAFA;
    margin-top: 20px;
    text-align: center;
    border-top: #f7f5f2;
}